<footer class="footer">
    <div class="container">
        <nav class="pull-right">
            <ul>
                <li>
                    <a href="/faq">
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-left">
            BostonTop20 • Copyright &copy; 2015 • All Rights Reserved
        </div>
    </div>
</footer>