<nav class="navbar navbar-custom">
    <div class="container-2">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/website"><img id="nav-logo" class="" src="img/logo.png">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="Request_Access js-textareacopybtn">REQUEST ACCESS</a></li>
            </ul>
        </div>
    </div>
</nav>
