<div class="gradient">

    <div class="minimum-banner">
        <a href="https://beta.minimum.ai">
            <button class="btn minimum-button">GET THE APP</button>

        </a>
    </div>

</div>
