<html lang="en" ng-app="minimum-dashboard">

    <%include ./partials/head%>

    <body>

        <%include ./partials/nav%>

        <div class="container">

            <div id="view" autoscroll="true" ng-view></div>

        </div>

        <%include ./partials/script%>

    </body>
</html>
