<div class="single-content">
    <h1 class="entry-title">Get a Loan</h1>
    <form ng-submit="submit()">
        <p>Let Boston Top 20 help you get pre-approved or find the loan that makes the most sense for you. Fill out the form below and one of our lender partners will get back to you</p>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Name (required)</label>
                    <input type="text" class="form-control" required>
                    <span class="material-input"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Email (required)</label>
                    <input type="text" class="form-control" required>
                    <span class="material-input"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Phone (required)</label>
                    <input type="text" class="form-control" required>
                    <span class="material-input"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Where is the Property?</label>
                    <input type="text" class="form-control">
                    <span class="material-input"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3 form-group">
                <label for="months">Property Type</label>
                <select class="form-control" id="months" ng-model="months">
                    <option value="Single">Single</option>
                    <option value="Multi-Family">Multi-Family</option>
                    <option value="Condo">Condo</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3 form-group">
                <label for="months">Occupancy</label>
                <select class="form-control" id="months" ng-model="months">
                    <option value="Single">Owner Occupied</option>
                    <option value="Multi-Family">Second Home</option>
                    <option value="Condo">Investment</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Purchase price or home appraisal value?</label>
                    <input type="text" class="form-control">
                    <span class="material-input"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Approximate credit score (600-800)</label>
                    <input type="number" name="creditscore" value="" class="form-control" id="creditscore" min="600" max="800" aria-invalid="false" data-previousvalue="600">
                    <span class="material-input"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3 form-group">
                <label for="months">Transaction Type</label>
                <select class="form-control" id="months">
                    <option value="Single">Get Pre-Approved</option>
                    <option value="Multi-Family">Purchase</option>
                    <option value="Condo">Refinance</option>
                    <option value="Condo">Cash Out Refinance</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Loan Amount Requested</label>
                    <input type="text" class="form-control">
                    <span class="material-input"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3 form-group">
                <label for="months">Product Type</label>
                <select class="form-control" id="months">
                    <option value="Multi-Family">Fixed</option>
                    <option value="Condo">ARM</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-3">
                <div class="form-group label-floating">
                    <label class="control-label">When do you need to close? </label>
                    <input type="text" class="datepicker form-control" value="mm/dd/yyy">
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Additional information we should know:</label>
                    <textarea class="form-control" rows="5"></textarea>
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
        <button class="btn" type="submit">Send</button>
    </form>
</div>

<script>
    $('.datepicker').datepicker()
</script>