<html lang="en" ng-app="raid-the-room">

<%include ./dashboard/head%>

<body>

<div style="margin-top: 20px" class="container">
    <%include ./dashboard/page%>

    <%include ./dashboard/script%>
</div>

</body>
</html>
