<div class="row">
    <div class="col col-sm-12">
        <h2>Blog Posts <a class="pull-right" href="/admin/blog/new"><button class="btn">New</button></a></h2>
        </br></br>
        <table datatable="ng" dt-options="dtOptions" id="blogs" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th style="padding-bottom: 1em;">Title</th>
                <th>Date</th>
                <th>View Blog</th>
                <th>Action Items</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="b in blogs">
                <td style="padding-bottom: 2em;">{{b.title}}</td>
                <td>{{toDate(b.date)}}</td>
                <td><a target="_blank" href="/{{b.url}}">{{b.url}}</a></td>
                <td><div class="col col-sm-5"><a class="btn" href="/admin/blog/edit/{{b.url}}">Edit</a></div><div class="col col-sm-offset-2 col-sm-5"><a href="" ng-click="delete(b.url)"><span class="pull-right btn btn-danger">Delete</span></a></div></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

